<h1>Show Project</h1>

<h2>Project Details:</h2>

<p> Title : <%= @project.title %> 
  <br><%= image_tag(@project.url, size: "224x224") %>
  <br> Description : <%= @project.description %> 
  <br> Goal :  <%= @project.goal %>  
  <br> Start : <%= @project.start_date %> 
  <br> End :  <%= @project.deadline %> 
  <br> Rewards : <% @project.rewards.each do |reward| %>
	<%=	reward.description %>
  <% end %> </p> 
<br><%= link_to "Edit", edit_project_path(@project)%> 
<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>

<p>	<% total_pledges = 0 %>
	<% @project.pledges.each do | pledge| %>
	<% total_pledges += pledge.amount %>
	<% end %>
	<%= total_pledges %>
/
	<%= @project.goal %>
</p>


<%= form_tag project_pledges_path(@project) do %>
 <div class="field">
  <%= label_tag :amount %><br />
  <%= text_field_tag :amount %>
</div>

<div class="actions">
  <%= submit_tag "Pledge" %>
</div>

<% end %>

