<h1>Show Project</h1>

<h2>Project Details:</h2>

<p> <%= @project.title %> </p>
<p> <%= @project.description %> </p>
<p> <%= @project.goal %> </p>
<p> <%= @project.start_date %> </p>
<p> <%= @project.deadline %> </p>