<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <nav class="nav-bar">
        <h1 id="logo"><%= link_to "crowdfunder", projects_path %></h1>
        <ul class="nav-list">
          <% if current_user %>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
              <li><%= link_to "Logout", :logout, method: :post %></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %></li> |
            <li><%= link_to "Login", :login %></li>
          <% end %>
        </ul>
      </nav>
    </header>

  <div id="nav">

  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <div id="main-container" class="container">
    <%= yield %>
  </div>

   <footer>
     <p class="copyright">Copyright &copy; 2016</p>
     <div class="logo_bottom_container">
      <%= link_to "crowdfunder", projects_path, id: "logo_bottom" %>
     </div>
   </footer>
  </body>
</html>
